<!-- This is the correct doc type for the css style sheets I'm using, as near as I can tell. *author's note to self -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<title>Cars</title>

</head>

<body>
	<H1>Cars</H1>

  <%= link_to image_tag('H1_van', width: '315', height: ' 225', :alt => "H1 van"), h1_van_path %>
	<%= link_to "Hyundai H1 12 person van", h1_van_path %><br> <br> <br> <br> <br>
  <br> <br> <br> <br>
  <%= link_to image_tag('Creta', width: '315', height: ' 225', :alt => "Hyundai Creta"), creta_path %>
	<%= link_to "Hyundai Creta SUV", creta_path %><br> <br> <br> <br> <br>
  <br> <br> <br> <br>
  <%= link_to image_tag('Kia1_grey', width: '315', height: ' 225', :alt => "Kia Rio"), kia_rio_grey_path %>
	<%= link_to "Kia Rio", kia_rio_grey_path %><br> <br> <br> <br> <br>
  <br> <br> <br> <br>
  <%= link_to image_tag('Kia2_grey', width: '315', height: ' 225', :alt => "Kia Rio"), kia_rio_grey_path %>
	<%= link_to "Kia Rio", kia_rio_grey_path %><br> <br> <br> <br> <br>
  <br> <br> <br> <br>
  <%= link_to image_tag('Mitsubishi', width: '315', height: ' 225', :alt => "Mitsubishi Mirage"), mitsubishi_path %>
	<%= link_to "Mitsubishi Mirage", mitsubishi_path %><br> <br> <br> <br> <br>
  <br>


</body>
</html>
